#some{
    background: url('../static/assets/img/bg-pattern.png'), 
    linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
}

#blackrockimage{
    filter: invert(100%);
}

#portfolioSide button{
    background-color: #222222;
}

#blackrockSide button{
    background-color: white;
    color: black;
}

#portfolioSide button.flag{
    background-color: #fdc53a;
}