<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Jasmine</title>
    <meta name="description" content="UGA Hacks Portfolio Diversity Analyzer">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  -->
</head>

<body class="text-left" id="page-top">
    <div>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top"
                    style="color: #000000;font-family: 'Archivo Black', sans-serif;">JASMINE</a><button
                    data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                        class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="#features">Features</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="#contact">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script>

    </script>
    <div
        style="background: url('../static/assets/img/bg-pattern.png'), linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);;height: 100%;margin-bottom: 1px;">

        <div class="row" style="padding-top: 85px;padding-right: 45px;padding-left: 45px;">
            <div class="col" id="portfolioSide">
                <div id="companyNamesGroup">
                    <h2 class="text-center" style="color: rgb(0, 0, 0);font-family: 'Archivo Black', sans-serif;">
                        <strong>Build Your Portfolio</strong>
                    </h2>
                    <div class="text-center pb-2">
                        <div>
                            <b>Choose some common stocks</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('NFLX');" itemprop="NFLX" id="NFLX">Netflix</button>
                            </div>
                            <!-- <div class="btn-group-toggle p-3 w-auto " data-toggle="buttons">
                                <label class="btn btn-primary w-100">
                                    <input type="checkbox" checked autocomplete="off">Netflix
                                </label>
                            </div> -->
                        </div>
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('AAPL');" itemprop="AAPL" id="AAPL">Apple</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('MSFT');" itemprop="MSFT" id="MSFT">Microsoft</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('GE');" itemprop="GE" id="GE">GE</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('DAL');" itemprop="DAL" id="DAL">Delta</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('PINS');" itemprop="PINS" id="PINS">Pintrest</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('GPS');" itemprop="GPS" id="GPS">GAP</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('SBUX');" itemprop="SBUX" id="SBUX">Starbucks</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('XOM');" itemprop="XOM" id="XOM">Exxon</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="switchClass('PG');" itemprop="PG" id="PG">Proctor & Gamble</button>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-dark mb-3 mt-3" style="width: auto;">
                        <div class="card-body">
                          <div class="row">
                              <div class="col text-center">
                                    <p style="font-family: 'Anton', sans-serif; font-size: 75px;" id="annualReturn">
                                        0%
                                    </p> 
                                    <p class="lead">Annualized Return</p>
                              </div>
                              <div class="col text-center">
                                <p style="font-family: 'Anton', sans-serif; font-size: 75px;" id="risk">
                                    0%
                                </p>
                                <p class="lead">Risk</p>
                              </div>
                          </div>  
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-auto d-xl-flex justify-content-xl-center">
                <div
                    class="d-xl-flex justify-content-center align-items-center align-content-center justify-content-xl-center">
                    <p class="text-center d-xl-flex justify-content-center align-content-center justify-content-xl-center"
                        style="font-family: 'Archivo Black', sans-serif;color: rgb(255,255,255);"><span class="pr-1"
                            style="color: #000000">V</span style="color: #FFFFFF">S</p>
                </div>
            </div>

            <!-- This is all the second column of the first row-->
            <div class="col" id="blackrockSide">
                <div>
                    <div class="text-center" style="background-color: rgba(255,255,255,0);filter: brightness(46%);">
                        <img src="../static/assets/img/BlackRock.png" id="blackrockimage" width="200"
                            style="padding-bottom: 10px;">
                    </div>

                    <div class="text-center">
                        <div><b>Choose an Exchange-traded Fund (ETF)</b></div>
                    </div>
                    <div class="text-center">
                        <div><a href="">What's an ETF?</a></div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" onclick="" itemprop="">iShares S&P 500 Index Fund</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-100 companyNames" data-toggle="button"
                                    aria-pressed="false" itemprop="">iShares Russell 200 Fund</button>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <div class="p-3 w-auto">
                                <button type="button" class="btn btn-primary w-10 companyNames" data-toggle="button"
                                    aria-pressed="false" itemprop="">iShares Municipal Bond Index Fund</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">

            </div>
        </div> -->
    </div>
    <section id="features" class="features text-center bg-primary" style="background-color: rgb(20,50,82);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">Frequently Asked Questions</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-secondary contact bg-primary" id="contact" style="background-color: rgb(42,88,129);">
        <div class="container">
            <h2><span>Made with&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;at UGAHacks 5&nbsp;</span></h2>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>©&nbsp;Manu Puduvalli, Samuel Yuen, William Vega, Yijian Ma-Ma 2020. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/assets/js/new-age.js"></script>

    <script>
        function calculate() {
            var all = document.getElementsByClassName('companyNames flag');
            console.log(all);

            var weight = (100 / all.length).toFixed(4);

            if(all.length == 0){
                setText('0', '0');
                return;
            }

            let tickNames = "";
            for (let i = 0; i < all.length; i++) {
                tickNames += all[i].getAttribute("itemprop") + "~" + weight + "|";
            }

            console.log(tickNames);
            
            $.getJSON("/user-api/?ticks=" + tickNames, function processData(result) {
                console.log("entered JSON");
                // alert(result);
                // alert(typeof result)
                data = JSON.parse(result)
                let arr = Math.round(data['arr']* 100);
                let risk = Math.round(data['risk'].toFixed(2));
                // alert(arr);
                // alert(result.length);
                setText(arr, risk);
            });

        }

        function setText(arrAsStr, riskAsStr){
            document.getElementById('annualReturn').innerText = arrAsStr + '%';
            document.getElementById('risk').innerText = riskAsStr + '%';
        }

        function switchClass(current){
            console.log(current);
            let x = document.getElementById(current);
            if (x.classList.contains("flag")){
                console.log(x);
                console.log("not active");
                x.classList.remove('flag');
            }
            else{
                console.log(x);
                console.log("active");
                x.classList.add('flag');
                
            }
            calculate();
        }
    </script>
</body>

</html>
