#blackrockimage{
    filter: invert(100%);
}

#portfolioSide{
    color: black;
}

#portfolioSide button.active{
    background-color: gold;
    border-color: white;
}

#blackrockSide {
    color: white;
}

#blackrockSide button{
    border-color:black;
}

#blackrockSide button.active{
    background-color: gold;
    border-color: black;
}