#blackrockimage{
    filter: invert(100%);
}

#portfolioSide{
    color: black;
}

#portfolioSide button.flag{
    background-color: darkgoldenrod;
}

/* #mc {
     min-width: 1920px; 
    max-width: 1280px;
     min-height: 1280px; 
    max-height: 750px;
    margin: 3px;
    padding: 3px;
}  */